@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Orbitron:wght@400;700&display=swap');


body {
    position: relative;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                url('../img/laberinto.webp'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


canvas {
    border: 2px solid white;
    box-shadow: 0 0 12px rgba(0, 255, 255, 0.6);
    border-radius: 10px;
    margin-left: 300px;
    margin-top: 15px;
    width: 550px;
    height: 550px;
}

/* Título "Laberinto" con estilo gamer */
.game-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    color: #0ff;
    text-shadow: 0 0 10px #0ff, 0 0 20px #00f, 0 0 40px #00f;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro para mejorar visibilidad */
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
}

/* Estilos de la barra lateral */
.sidebar {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: black;
    padding: 20px;
    border-radius: 10px;
    color: rgb(251, 251, 251);
    text-align: center;
    width: 230px;
    height: 510px;
    box-shadow: 0 0 12px rgba(0, 255, 255, 0.6);
    font-family: 'Orbitron', sans-serif;
    border: 2px solid rgb(255, 255, 255);
    margin-left: 300px;
    margin-top: 31px;
}

/* Estilos del Timer */
.timer {
    font-size: 18px;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    background: rgba(0, 255, 255, 0.2);
    padding: 12px;
    border-radius: 8px;
    text-shadow: 0 0 12px #0ff, 0 0 24px #00f;
    border: 2px solid #0ff;
}

/* Card de Ranking */
.ranking-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 0px;
    border-radius: 8px;
    text-align: center;
    margin-top: 15px;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.3);
    border: 2px solid #ff0;
}

.ranking-card h2 {
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    color: #ff0;
    text-shadow: 0 0 12px #ff0, 0 0 24px #ff4500;
}

#ranking-list {
    list-style: none;
    padding: 0;
    font-size: 14px;
    font-family: 'Orbitron', sans-serif;
}

#ranking-list li {
    background: rgba(255, 255, 0, 0.2);
    color: yellow;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(255, 255, 0, 0.6);
    font-weight: bold;
    border: 1px solid #ff0;
    height: 90%;
}
